{% extends 'index.html' %}


{% block content %}
 <div class="row">

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Weather Conditions</h4>
            <p class="category">Today</p>
        </div>
        <div class="content">
            Location: {{ location }}<br> Weather: {{ weather }}<br>   
            <div class="footer">
              
                <hr>
                   
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<div class="row">
{% for forecast in forecasts %}
<div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-cloud"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="numbers">
                                            <p>{{forecast.date}}
                                                High:{{forecast.high}}
                                           Low:{{forecast.low}}
                
                
                                           
                                           {{forecast.text}}</p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endfor %}

</div>
<div class="row">
<div class="col-md-6">
    <div class="card card-user">
                            <div class="image">
                                <img src="/img/blog.png" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                    <img class="avatar border-white" src="/img/blog1.png" alt="...">
                                  <h4 class="title">Checkout Our Blog<br />
                                     <a href="http://radiant32.pythonanywhere.com/Home/1" target="_blank"><small>@Radiant32</small></a>
                                  </h4>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>250<br /><small>Posts</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>150<br /><small>Queries Answered</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>300<br /><small>Members</small></h5>
                                    </div>      
                                </div>
                            </div>
                        </div>
</div>
<div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Organic Visits</h4>
                                <p class="category">Year-Over-Year (2011-2012)</p>
                            </div>
                            <div class="content">
                                <div id="chartActivity" class="ct-chart"><div class="image">
                                <img src="/img/graph.jpg" alt="..."/>
                            </div></div>

                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-check"></i> Data information certified
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}